<ion-view title="Support">
	<ion-content class="bgcolor">
	<div class="berlin txtCenter">
	<div class="row">
	<div class="col-xs-6">Contact (TF) :</div><div class="col-xs-6">1800 180 0000</div>
	</div>
	<div class="row">
	<div class="col-xs-6">Contact :</div><div class="col-xs-6">+91 9999999999</div>
	</div>
	<div class="row">
	<div class="col-xs-6">Email :</div><div class="col-xs-6">hsetia94@gmail.com</div>
	</div>
	<div class="row">
	<div class="col-xs-6">Website :</div><div class="col-xs-6"><a href="https://www.google.com">Click Here</a></div>
	</div>
	</div>
	</ion-content>
</ion-view>